@{
    ViewData["Title"] = "Login";
}

<h3>Login</h3>
<input id="EmailAddressInput" >
<input id="PasswordInput" >
<button class="btn btn-success">Login</button>

@section Scripts {
    <script>
        $(document).ready(function(e) {

        });
    </script>
}